.white-primary-link {
	display: inline-block;
	padding: 12px 32px;
	background: var(--bg-white);
	color: var(--color-primary);
	border-radius: var(--border-34);
	text-align: center;
	font-size: 17px;
	font-weight: 800;
}

.container-visible {
	overflow: visible;
}

.just-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;
}

.standart-text-gray {
	font-size: 18px;
	color: rgba(78, 93, 124, 0.5);
}

.standart-text-lightgray {
	font-size: 17px;
	color: rgba(255, 255, 255, 0.8);
}

.active-dot {
	background: #fff;
}
