/* Header */

.header {
	padding: 40px 0 100px;
	background: var(--color-primary);
}

.header__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__menu {
	display: flex;
	align-items: center;
	gap: 32px;
}

.header__menu_item-link {
	color: var(--color-primary-link);
}

.header__personalAcc-link {
	padding: 12px 32px;
}

.header__burgerMenu {
	display: none;
}

/* Header media */

@media (max-width: 960px) {
	.header {
		padding: 24px 0 19px;
	}

	.header__menu {
		gap: 16px;
	}

	.header__personalAcc-link {
		padding: 6px 16px;
		font-size: 16px;
		font-weight: 600;
	}
}

@media (max-width: 820px) {
	.header__logo img {
		width: 65px;
		height: 34px;
	}

	.header__nav,
	.header__personalAcc {
		display: none;
	}

	.header__burgerMenu {
		display: block;
		background: none;
		border: none;
	}
}

@media (max-width: 480px) {
	.header {
		padding: 24px 0 32px;
	}

	.header__body {
		padding-bottom: 19px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.16);
	}
}
