/* Header */

.header {
	padding: 40px 0 100px;
	background: var(--color-primary);
}

.header__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__menu {
	display: flex;
	align-items: center;
	gap: 32px;
}

.header__menu_item-link,
.header__personalAcc-link {
	color: var(--color-primary-link);
}

.header__personalAcc-link {
	display: inline-block;
	padding: 12px 32px;
	text-align: center;
	font-size: 17px;
	font-weight: 800;
	background: var(--bg-white);
	color: var(--color-primary);
	border-radius: var(--border-34);
}
