/* Header */

.header {
	padding: 40px 0 100px;
	background: var(--color-primary);
	clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

.header__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__menu {
	display: flex;
	align-items: center;
	gap: 32px;
}

.header__menu_item-link,
.header__personalAcc-link {
	color: var(--color-primary-link);
}
