/* HERO */

.hero {
	position: relative;
	background: #fff;
}

.hero::before {
	content: '';
	position: absolute;
	top: -1px;
	width: 100%;
	height: 90%;
	background: var(--color-primary);
	clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
	z-index: 0;
}

.hero__body {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: start;
}

.hero__leftSide {
	flex: 1 1 50%;
	max-width: 472px;
}

.hero__leftSide_title {
	font-weight: 800;
	font-size: 35px;
	line-height: 120%;
	color: #fff;
}

.hero__leftSide_link {
	text-align: center;
	margin: 40px 0 80px;
}

.hero__companies {
	display: flex;
	flex-direction: column;
	gap: 22px;
}

.hero__companies_top,
.hero__companies_bottom {
	display: flex;
	align-items: center;
}

.hero__companies_top {
	gap: 18px;
}

.hero__companies_bottom {
	gap: 24px;
}

.hero__rightSide {
	margin-right: -80px;
}

@media (max-width: 1560px) {
	.hero__body {
		justify-content: space-between;
	}

	.hero__leftSide_link {
		margin: 20px 0 40px;
	}

	.hero__rightSide {
		margin-right: 0;
	}

	.hero__rightSide img {
		max-width: 100%;
		height: auto;
	}
}

@media (max-width: 1125px) {
	.hero::before {
		height: 110%;
	}

	.hero__leftSide_title {
		font-size: 30px;
	}

	.hero__leftSide_link {
		padding: 12px 16px;
	}

	.hero__rightSide {
		flex-basis: 70%;
	}

	.hero__rightSide img {
		max-width: 100%;
		height: auto;
	}
}

@media (max-width: 960px) {
	.hero::before {
		height: 130%;
	}

	.hero__body {
		justify-content: center;
	}

	.hero__leftSide {
		text-align: center;
	}

	.hero__companies {
		align-items: center;
	}

	.hero__rightSide {
		display: none;
	}
}

@media (max-width: 580px) {
	.container-visible {
		overflow: hidden;
	}

	.hero::before {
		height: 115%;
		clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
	}

	.hero__body {
		justify-content: start;
	}

	.hero__leftSide {
		text-align: start;
	}

	.hero__leftSide_link {
		font-size: 15px;
	}

	.hero__companies {
		align-items: start;
	}

	.hero__companies_bottom {
		gap: 18px;
	}

	.hero__companies_top img,
	.hero__companies_bottom img {
		max-width: 50%;
	}
}

/*	ADVANTAGES */

.advantages {
	padding: 80px 0 0;
}

.advantages__body_shortList {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 65px;

	padding-bottom: 80px;
}

.advantages__body_short_item {
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	color: #000;
}

.advantages__body_fullList_accounting {
	display: flex;
	align-items: center;
	gap: 60px;
	width: 100%;
	padding: 80px 0;

	border-top: var(--border-grayline);
}

.advantages__body_fullList_accounting:nth-child(even) {
	flex-direction: row-reverse;
}

.advantages__body_fullList_text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: start;
	width: 50%;
}

.advantages__body_fullList_accounting img {
	width: 50%;
}

.advantages__body_fullList_title {
	font-weight: 600;
	font-size: 40px;
	line-height: 120%;
	color: #000;
}

.advantages__body_fullList_description {
	margin-top: 28px;
}

@media (max-width: 1125px) {
	.advantages__body_shortList {
		gap: 32px;
	}

	.advantages__body_short_item {
		font-weight: 600;
		font-size: 18px;
	}
}

@media (max-width: 960px) {
	.advantages {
		padding: 100px 0 0;
	}

	.advantages__body {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.advantages__body_shortList {
		flex-direction: column;
		justify-content: center;
		max-width: 328px;
	}

	.advantages__body_short_item {
		gap: 24px;
	}

	.advantages__body_short_item img {
		width: 48px;
		height: 48px;
	}

	.advantages__body_fullList_title {
		font-size: 32px;
	}

	.advantages__body_fullList_description {
		margin-top: 14px;
	}
}

@media (max-width: 860px) {
	.advantages__body_fullList_accounting,
	.advantages__body_fullList_accounting:nth-child(even) {
		flex-direction: column-reverse;
	}

	.advantages__body_fullList_text,
	.advantages__body_fullList_accounting img {
		width: 100%;
	}
}

/* SAVETIME */

.savetime {
	padding: 120px 0;
	background: var(--color-primary);
}

.savetime__body {
	text-align: center;
}

.savetime__body_title {
	font-weight: 600;
	font-size: 48px;
	line-height: 120%;
	color: #fff;
}

.savetime__body_description {
	margin: 40px 0;
}

.savetime__body_mainImg {
	width: 100%;
	margin: 64px 0;
}

.savetime__body_comparison {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 70px;
}

.savetime__body_list,
.savetime__body_list_excel,
.savetime__body_list_finio {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.savetime__body_listTitle {
	display: inline-block;
	text-align: start;
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	color: #fff;
}

.savetime__body_list_item {
	display: flex;
	align-items: start;
	gap: 8px;
}

/* Дать после 960 листам гэп 24рх */

@media (max-width: 960px) {
	.savetime__body_comparison {
		gap: 24px;
	}
}

@media (max-width: 860px) {
	.savetime__body_comparison {
		flex-direction: column;
		gap: 48px;
	}
}

@media (max-width: 768px) {
	.savetime__body_mainImg {
		margin: 48px 0 54px;
	}

	.savetime__body_list_item_text {
		text-align: left;
	}
}

@media (max-width: 480px) {
	.savetime__body_title {
		text-align: left;
		font-size: 36px;
	}

	.savetime__body_description {
		text-align: left;
	}

	.savetime__body_link {
		padding: 12px 16px;
		font-size: 15px;
	}
}

/* SECURITY */

.security {
	padding: 120px 0 0;
}

.security__body {
	display: flex;
	align-items: baseline;
	gap: 78px;
	padding: 0 25px 80px;

	border-bottom: var(--border-grayline);
}

.security__body_services {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;
	width: 33.33%;
}

.security__body_services_title {
	font-weight: 600;
	font-size: 32px;
	line-height: 120%;
	color: #000;
}

@media (max-width: 1440px) {
	.security__body_services img {
		width: 64px;
		height: 64px;
	}

	.security__body_services_title {
		font-size: 24px;
	}
}

@media (max-width: 1125px) {
	.security__body {
		flex-direction: column;
		align-items: center;
	}

	.security__body_services {
		width: 40%;
	}
}

@media (max-width: 768px) {
	.security {
		padding: 64px 0 0;
	}

	.security__body {
		width: 328px;
		margin: 0 auto;
		padding: 0 25px 48px;
	}

	.security__body_services {
		width: 100%;
	}
}

/* MOBVERSION */

.mobversion {
	padding: 80px 0 120px;
}

.mobversion__body {
}

.mobversion__body_title {
	font-weight: 600;
	font-size: var(--fontSize-title-48);
	line-height: var(--line-height-title);
	text-align: center;
	color: #000;
}

.mobversion__body_description {
	text-align: center;
	margin: 24px 0 40px;
}

.mobversion__body_img {
	width: 100%;
	padding: 0 132px;
}

@media (max-width: 1024px) {
	.mobversion__body_img {
		padding: 0;
	}
}

@media (max-width: 768px) {
	.mobversion__body_title {
		font-size: var(--fontSize-title-36);
	}
}

@media (max-width: 580px) {
	.mobversion__body_img {
	}
}

@media (max-width: 480px) {
	.mobversion__body_title,
	.mobversion__body_description {
		text-align: left;
	}
}
